<!DOCTYPE html>
<html>
<head>
	<title>Work Logger Sign In</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link href='https://fonts.googleapis.com/css?family=Work+Sans' rel='stylesheet' type='text/css'>
</head>

<%include ../partials/header %>

<body>

	<!-- error messages container -->
	<div class="flash-container">
		<div class="flash">
	  	<% if(error && error.length > 0) { %>
		  	<div class="alert alert-danger" role="alert"><%= error %></div>
	  	<% } else if(success && success.length > 0) { %>
		  	<div class="alert alert-success" role="alert"> <%= success %></div>
	  	<% } %>
	  </div>
  </div>


<section>
	<div class="login-form col-md-6">
	<h1 class="login-lable">Sign-in</h1>
		<form id="form" action='/login' method='POST'>
			<div class="form-group ">
				<div class="col-sm-10 username">
					<input type='text' class='form-contol' name='username' placeholder='username' required>
				</div>
				<div class="col-sm-10 password">
					<input type='password' class='form-contol' name='password' placeholder='password' required>
				</div>
				<div class="col-sm-12 submit-btn">
					<button type="submit" id='main-login-btn' class="btn btn-lg btn-primary">Submit</button>
				</div>
			</div>
		</form>
	</div>
</section>

<%include ../partials/footer %>

	<!-- Load jQuery and Bootstrap -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<!-- Load Angular -->
	<script src="//code.angularjs.org/1.3.0-rc.2/angular.min.js"></script>
  <script src="//code.angularjs.org/1.3.0-rc.2/angular-resource.min.js"></script>

	<script src="javascripts/app.js"></script>
	<script src="javascripts/fade.js"></script>
	<script src="/users/javascripts/validate.js"></script>

	<script type="text/javascript">
		$(function(){
		  $('#form').validate();
		})
	</script>

</body>
</html>
