<!DOCTYPE html>
<html ng-app="workLogger">
<head>
	<title></title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body ng-controller="tableController as vm">

<%include ../partials/header %>

	<!-- error messages container -->
	<div class="flash-container">
		<div class="flash">
	  	<% if(error && error.length > 0) { %>
		  	<div class="alert alert-danger" role="alert"><%= error %></div>
	  	<% } else if(success && success.length > 0) { %>
		  	<div class="alert alert-success" role="alert">toot <%= success %></div>
	  	<% } %>
	  </div>
  </div>



<section>
	<div class="register-form col-md-6">
	<h1>Create an account</h1>
		<form action="/register" method="POST">
        <input type="test" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <button class="btn btn-primary">Submit</button>
    </form>
	</div>
</section>


<%include ../partials/footer %>

	<!-- Load jQuery and Bootstrap -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<script src="javascripts/fade.js"></script>

</body>
</html>