<%include ../partials/header %>

<section>
	<div class="register-form col-md-6">
	<h1>Create an account</h1>
		<form action="/register" method="POST">
        <input type="test" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <button>Submit</button>
    </form>

    <a href="/login">Login</a>
    <a href="/logout">Log out</a>
	</div>
</section>


<%include ../partials/footer %>