<nav class="navbar navbar-default navbar-fixed-bottom" id="footer">
	<div class="col-md-6 col-sm-6">
		<p class="navbar-text navbar-left footer-title">A MEAN Stack app</p>
	</div>
	<div class="col-md-6 col-sm-6">
		<p class="navbar-text navbar-right footer-copywrite">By <a href="http://www.github.com/panicbus" class="navbar-link" target="_blank">Nico</a> &copy; 2016</p>
	</div>
</nav>