<nav class="navbar navbar-default" id="header">
	<p class="navbar-text navbar-right"><a href=""class="navbar-link">Login</a> | <a href="" class="navbar-link" data-toggle="modal" data-target="#aboutModal">About</a></p>
	<p></p>
</nav>


<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">About this</h4>
      </div>
      <div class="modal-body">
        It's super klassy, eh?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>