<nav class="navbar navbar-default" id="header">
	<p> <span class="navbar-text navbar-left navbar-brand" href="#">Work Logger</span>
      <span class="navbar-text navbar-right">
        <ul class="nav navbar-right navbar-nav">
          <% if(!currentUser){ %>
          <% } else {%>
            <li><a href="#">Signed in as <%=currentUser.username%></a></li>
            <li><a href="/logout">Logout</a></li>
          <% } %>
        </ul>

       | <a href="" class="navbar-link" data-toggle="modal" data-target="#aboutModal">About</a></span></p>
</nav>


<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">About this</h4>
      </div>
      <div class="modal-body">
        It's super klassy, eh?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>