// VARIABLES //
$splashgreen: #bbeeaa;

/// MIXINS ///
@mixin box-shadow($top, $left, $blur, $spread, $color) {
	-webkit-box-shadow: $top $left $blur $spread $color;
	-moz-box-shadow: $top $left $blur $spread $color;
	box-shadow: $top $left $blur $spread $color;
}

@mixin large-screen {
  @media only screen and (max-width: 60em) {
    @content;
  }
}
@mixin medium-screen {
  @media only screen and (max-width: 40em) {
    @content;
  }
}
@mixin small-screen {
  @media only screen and (max-width: 30em) {
    @content;
  }
}
@mixin medium-up {
	@media only screen and (min-width: 40em ) {
		@content;
	}
}


html, body {
	padding: 0;
	margin: 0;
	font-family: 'Work Sans', sans-serif !important;
}
section {
	padding: 15px 0 30px;
	@include small-screen {
		padding: 10px 0;
	}
}
a {
  color: #777777 !important;
}
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}
input {
  padding: 5px;
  width: 100%;
}


/*/// NAV STUFF ///*/
.navbar {
	border-radius: 0 !important;
	margin-bottom: 0 !important;
	font-size: 20px;
	&.navbar-default {
		background-color: $splashgreen !important;
		border-color: $splashgreen !important;
	}
	&.navbar-fixed-bottom {
		height: 50px;
	}
}
.navbar-right {
	margin-right: 0 !important;
	padding: 20px 15px 0 0;
	a {
		color: #777 !important;
	}
}
.navbar-text {
	margin-top: 0 !important;
}
.navbar-brand {
  font-size: 30px !important;
  color: #333 !important;
}
.footer-title {
	padding-top: 15px;
}
.footer-copyright {
   padding-top: 15px;
}

/* AUTHENTICATION */
.username, .password {
	padding: 5px;
	input {
	  padding: 8px 10px;
	  font-size: 20px;
	}
}
.login-lable {
	padding: 0 15px;
}

/*// WELCOME SPLASH // */
.splash-container {
	transform: translateY(-50%);
	top: 50%;
	position: absolute;
	width: 100%;
}

.login-title {
	text-align: center;
}

.welcome-splash {
	text-align: center;
	width: 60%;
	background: #bbeeaa;
	color: #666;
	font-size: 22px;
	padding: 20px;
	margin: 30px auto;
	a {
		transition: color 0.3s ease;
		color: #666;
		text-decoration: underline;
		&:hover{
			color: #888;
		}
	}
}

// FORM PAGE
.logged-in-title {
	padding-bottom: 30px;
}
.form-container {
	padding: 50px 70px;
	input {
		height: 45px !important;
		font-size: 22px !important;
	}
	label {
		font-size: 26px !important;
	}
	button {
		margin-top: 15px;
		font-size: 30px !important;
		padding: 10px 20px !important;
	}
}
.to-table {
	font-size: 20px;
	margin-top: -35px;
	clear: both;
}

/*// TABLE PAGE //*/
// Calculations box //
.calculations-box {
	width: 80%;
	padding: 20px;
	margin: 100px auto 40px;
	@include small-screen {
		padding: 20px 0;
		margin: 0 auto;
		width: 100%;
		@include box-shadow(0, 0, 0, 0, rgba(0,0,0,0));
	}
	background: seagreen;
	color: #fff;
	font-size: 18px;
	position: relative;
	@include box-shadow(0, 3px, 10px, 0, rgba(0,0,0,0.35));
	p {
		text-align: center;
	}
	.calc-label {
		text-align: center;
		font-size: 30px;
		font-weight: bold;
		color: #ccffcc;
	}
	.tips-box, .earnings-box {
		display: inline-block;
	}
	.all-time, .monthly {
		height: 100px;
		p:last-child {
			color: #ccffcc;
	    font-size: 22px;
		}
	}
	.all-time.tips, .all-time.earnings {
		p:last-child {
			@include small-screen {
				margin-top: 35px;
			}
			@include large-screen {
				margin-top: 0;
			}
		}
	}
	.miles-box {
		padding-top: 10px
	}
	.chart-container {
    // transform: translateY(25%);
    .chart-label {
    	text-align: center;
    	font-size: 20px;
    }
    // the chart element
		.canvasEl {
			margin: 10px auto;
			display: block;
			@include medium-up {
				margin-left: -70px;
	    }
		}
	}
	.donut-subtitle {
		font-size: 12px;
	}
	.row {
		margin: 0 25px;
		@include small-screen {
			margin: 0;
		}
	}
	.row + .row {
		border-top: 2px solid #ccc;
		@include large-screen {
			border-top: 0;
		}
	}
}

// Editable table
.column-index {
	width: 2%;
}
.column-data {
	width: 8%;
	@include small-screen {
		width: 10%;
	}
}
.column-btns {
	width: 10%;
	.btn {
		padding: 3px 13px !important;
		margin-bottom: 5px;
	}
	@include small-screen {
		display: none;
	}
}
.delete-btn {
	margin-right: 10px;
}
.back-link {
	padding: 0 15px 80px 15px;
}
.right-option {
	float: right;
}
.table-head {
	background: #bbeeaa;
}
.table-striped {
	background: #d6f4cc;
}


/* error messages */
.login-message {
	font-size: 25px;
	padding-top: 100px;
}
.flash-container {
	position: absolute;
	top: 40px;
	width: 100%;
	display: block;
	z-index: 1000;
}
.flash{
	padding: 10px 0;
	width: 40%;
	height: auto;
	margin: 0 auto;
	text-align: center;
	@include small-screen {
		width: 90%;
	}
}
.login-form {

}

/* validation errors */
#form {
	.error {
	  color: red;
	}
}

