<!DOCTYPE html>
<html ng-app="workLogger">
<head>
	<title>Work Logger</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link href='https://fonts.googleapis.com/css?family=Work+Sans' rel='stylesheet' type='text/css'>
</head>

<%include ./partials/header %>

<body ng-controller="mainController as vm">

	<!-- error messages container -->
	<div class="flash-container">
		<div class="flash">
	  	<% if(error && error.length > 0) { %>
		  	<div class="alert alert-danger" role="alert"><%= error %></div>
	  	<% } else if(success && success.length > 0) { %>
		  	<div class="alert alert-success" role="alert"><%= success %></div>
	  	<% } %>
	  </div>
  </div>

	<section>
		<h1>Log yo Postmates</h1>

		<% if (!currentUser) { %>
			<div class="welcome-splash">
				<p>Time to get organized - start keeping track of all that Postmates income you've been making.</p>
				<p><a href="/login">Log in</a> now!</p>
				<p>Not a user yet? <a href="/register">Register now</a>.</p>
			</div>
		<% }; %>


		<% if (currentUser) { %>
		<div class="to-table navbar-link right-option">
			<a href="/table">View your log</a>
		</div>

			<!-- logout is failing because of the currentUser thing -->
			<form method="POST" action="/table/<%=currentUser._id%>">
			  <div class="form-group">
			    <!-- <label for="date">Date</label>
			    <input type="text" class="form-control" id="date" name="date" ng-model="vm.date" placeholder="Date">
			  </div> -->
			  <div class="form-group">
			    <label for="timeLogged">Hours logged</label>
			    <input type="text" class="form-control" id="timeLogged" name="hours" ng-model="vm.hours" placeholder="Nubmer of hours">
			  </div>
			  <div class="form-group">
			    <label for="payout">Total Payout</label>
			    <input type="text" class="form-control" id="payout" name="payout" ng-model="vm.payout" placeholder="Payout amount">
			  </div>
			  <div class="form-group">
			    <label for="tips">Total tips earned</label>
			    <input type="text" class="form-control" id="tips" name="tips" ng-model="vm.tips" placeholder="Tips">
			  </div>
			  <div class="form-group">
			    <label for="totalIncome">Total Income</label>
			    <input type="text" class="form-control" id="totalIncome" name="income" ng-model="vm.income" placeholder="Total Income">
			  </div>
			  <button type="submit" id='submit' ng-model="newEntry" class="btn btn-primary">Submit</button>
			</form>
		<% }; %>
	</section>

	<%include ./partials/footer %>

	<!-- Load jQuery and Bootstrap -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<!-- Load Angular -->
	<script src="//code.angularjs.org/1.3.0-rc.2/angular.min.js"></script>
  <script src="//code.angularjs.org/1.3.0-rc.2/angular-route.min.js"></script>
  <script src="//code.angularjs.org/1.3.0-rc.2/angular-resource.min.js"></script>

	<script src="javascripts/app.js"></script>
	<script src="javascripts/fade.js"></script>
	<script src="javascripts/controllers/mainController.js"></script>


</body>
</html>