<!DOCTYPE html>
<html ng-app="workLogger">
<head>
	<title>Work tables</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body ng-controller="tableController as vm">

	<table class="table table-bordered table-striped" ng-init="getEntries()">
		<thead>
			<tr>
				<th class="col-md-1">#</th>
				<th class="col-md-2">Username</th>
				<th class="col-md-2">Date</th>
				<th class="col-md-1">Time Logged</th>
				<th class="col-md-1">Payout</th>
				<th class="col-md-1">Tips</th>
				<th class="col-md-1">Total income</th>
				<th class="col-md-2"></th>
			</tr>
		</thead>
		<tr ng-repeat="entry in entries">
			<th class="col-md-1">{{ $index + 1 }}</th>
			<td class="col-md-2">{{ entry.username }}</td>
			<td class="col-md-2">{{ entry.date | date:'EEE, MMM d, yyyy'}}</td>
			<td class="col-md-1">{{ entry.hours }}</td>
			<td class="col-md-1">{{ entry.payout }}</td>
			<td class="col-md-1">{{ entry.tips }}</td>
			<td class="col-md-1">{{ entry.income }}</td>
			<td class="col-md-2"><button type="submit" id='delete' class="btn btn-primary delete-btn">Delete</button><button type="submit" id='edit' class="btn btn-primary edit-btn">Edit</button></td>
		</tr>
	</table>

	<!-- Load jQuery and Bootstrap -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<!-- Load Angular -->
	<script src="//code.angularjs.org/1.3.0-rc.2/angular.min.js"></script>
  <script src="//code.angularjs.org/1.3.0-rc.2/angular-route.min.js"></script>
  <script src="//code.angularjs.org/1.3.0-rc.2/angular-resource.min.js"></script>

	<script src="javascripts/app.js"></script>
	<script src="javascripts/controllers/tableController.js"></script>

</body>
</html>