html, body {
  padding: 0;
  margin: 0;
  font-family: 'Work Sans', sans-serif !important; }

section {
  padding: 15px 50px 30px; }

a {
  color: #00B7FF; }

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important; }

input {
  padding: 5px;
  width: 100%; }

/*/// NAV STUFF ///*/
.navbar {
  border-radius: 0 !important;
  margin-bottom: 0 !important;
  font-size: 20px; }

.navbar-right {
  margin-right: 0 !important;
  padding: 23px 15px 0 0; }

.navbar-text {
  margin-top: 0 !important; }

.navbar-brand {
  font-size: 30px !important;
  color: #000 !important; }

.footer-title {
  padding-top: 15px; }

.footer-copyright {
  padding-top: 15px; }

/* AUTHENTICATION */
.username, .password {
  padding: 5px; }
  .username input, .password input {
    padding: 8px 10px;
    font-size: 20px; }

.login-lable {
  padding: 0 15px; }

/*// WELCOME SPLASH // */
.welcome-splash {
  text-align: center;
  width: 60%;
  background: #bbeeaa;
  color: #666;
  font-size: 22px;
  padding: 20px;
  margin: 30px auto; }
  .welcome-splash a {
    transition: color 0.3s ease;
    color: #666;
    text-decoration: underline; }
    .welcome-splash a:hover {
      color: #888; }

/*// TABLE PAGE //*/
.calculations-box {
  width: 80%;
  padding: 20px;
  background: seagreen;
  color: #fff;
  font-size: 18px;
  margin: 40px auto; }
  .calculations-box p {
    text-align: center; }
  .calculations-box .calc-label {
    text-align: center;
    font-size: 30px;
    font-weight: bold; }
  .calculations-box .tips-box, .calculations-box .earnings-box {
    display: inline-block; }
  .calculations-box .miles-calculation .miles-month p {
    padding-right: 15px;
    text-align: right; }
  .calculations-box .miles-calculation .miles-total p {
    padding-left: 15px;
    text-align: left; }
  .calculations-box .row {
    margin: 0 25px; }
  .calculations-box .row + .row {
    border-top: 2px solid #ccc; }

.column-index {
  width: 2%; }

.column-data {
  width: 8%; }

.column-btns {
  width: 10%; }

.delete-btn {
  margin-right: 10px; }

.back-link {
  padding: 0 15px 80px 0; }

.to-table {
  font-size: 20px;
  margin-top: -35px; }

.right-option {
  float: right; }

.table-head {
  background: #bbeeaa; }

.table-striped {
  background: #d6f4cc; }

/* error messages */
.login-message {
  font-size: 25px;
  padding-top: 100px; }

.flash-container {
  position: absolute;
  top: 40px;
  width: 100%; }

.flash {
  padding: 10px 0;
  width: 40%;
  height: auto;
  margin: 0 auto;
  text-align: center; }
