html, body {
	padding: 0;
	margin: 0;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

section {
	padding: 50px;
}

a {
  color: #00B7FF;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

.column-index {
	width: 5% !important;
}
.column-body {
	width: 15%;
}
.column-data {
	width: 10% !important;
}
.column-btns {
	width: 15% !important;
}

.delete-btn {
	margin-right: 10px;
}