@import url(https://fonts.googleapis.com/css?family=Work+Sans);

html, body {
	padding: 0;
	margin: 0;
	font-family
}

body {
	font-family: 'Work Sans', sans-serif !important;
}

section {
	padding: 15px 50px 30px;
}

a {
  color: #00B7FF;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}
input {
  padding: 5px;
  width: 100%;
}

.navbar {
	border-radius: 0 !important;
	margin-bottom: 0 !important;
	font-size: 20px;
}
.navbar-right {
	margin-right: 0 !important;
	padding-right: 15px;
}

.username, .password {
	padding: 5px;
}
.username input, .password input {
  padding: 12px;
  font-size: 20px;
}
.login-lable {
	padding: 0 15px;
}


/*// TABLE PAGE //*/
.column-index {
	width: 2%;
}
.column-body {
	width: 15%;
}
.column-data {
	width: 10%;
}
.column-btns {
	width: 10%;
}

.delete-btn {
	margin-right: 10px;
}

.back-link {
	padding-left: 15px;
}
.to-table {
	font-size: 20px;
	margin-top: -35px;
}
.right-option {
	float: right;
}
.login-message {
	font-size: 25px;
	padding-top: 100px;
}


/* error messages */
.flash-container {
	position: absolute;
	top: 40px;
	width: 100%;
}
.flash{
	padding: 10px 0;
	width: 40%;
	height: auto;
	margin: 0 auto;
	text-align: center;
}
